*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image:linear-gradient(to right, #efe479 , #bd5eb7);
  
  
}
.nav_bar{
    display: flex;
    padding-left: 25px;
    margin-top: 5px;
    /*background-color:rgb(72, 152, 217);*/
    
    height: 10vh;
    align-items: center;
   
    
}
img{
    width: 80px;
    height: 80px;
}
 h3{
    font-weight: normal;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.nav_bar{
    overflow: hidden;
    
}
.nav_bar a{
    float: left;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    color: rgb(52, 31, 236);
    
    
}
.nav_bar a.split{
    float: right;

}
a:hover {
    background-color:bisque;

   background-color: linear-gradient( #f9ed7d , #da62d2);
   
  }
.container{
    padding-top: 150px;
}
h1{
    text-align: center;
    color: blue;
}
p{
   text-align: center; 
}
.form{
    text-align: center;
    margin-top: 20px;
}

button{
    margin-top: 30px;
    padding: 10px 10px;
    border-radius: 40px;
    background-color:blue;
    color: white;
    opacity: 0.6;
    transition: 0.3s;
   
   
}
button:hover{
    opacity: 1;
}

footer {
    margin-top: 300px;
    text-align: center;
    padding: 3px;
  /*  background-color:rgb(72, 152, 217);*/
    
  }

  .Web-page{
width: 1150px;
height: 1000px;

  }








  

